[submodule "wp-content/plugins/neuf-events"]
        path = wp-content/plugins/neuf-events
        url = git@github.com:neuf/neuf-events.git
[submodule "wp-content/plugins/neuf-venues"]
	path = wp-content/plugins/neuf-venues
	url = git@github.com:neuf/Neuf-Venues.git
[submodule "wp-content/themes/studio11"]
	path = wp-content/plugins/studio11
	url = git@github.com:neuf/studio11-theme.git
